body {
  background-color: #000000;
}

.loader {
  position: absolute;
  top: 43%;
  left: 50%;
  width: 1360px;
  color: #62C2E0;
  text-align: center;
  font-size: 140px;
  font-family: Lato;
  font-weight: 700;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
}

a {
    color: white;
    text-decoration: none;
}

.loader:after {
  content: '_';
  animation: blink-animation 1s steps(3, start) infinite;
  -webkit-animation: blink-animation 1s steps(3, start) infinite;
}

.footer {
    position: fixed;
    height: 172px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 92px;
    font-family: Lato;
    font-weight: 700;
    text-transform: uppercase;
}

.Footer_inner_left{
width: 50%;
Float:  ;
display:inline;


}

.Footer_inner_right{
width: 50%;
Float: right;
display:inline;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
} 

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}